body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

#addressquery{
height: auto;
width: 96%;
font-size: 26px;
line-height: normal;
}

.popover{
  max-width: initial;
  width: 48.717948717948715%;
  display: block;
  float: left;
  position: static;
}

@media (max-width: 767px){
  .popover{
    display: block;
    float: none;
    width: 100%;
    margin-top: 46px;
  }
}

.popover-content {
padding: 0px;
}

.popover-title{
  font-size: 20px;
  text-align: center;
}

.popover-content div{
  padding: 9px 14px;
}

.yellow{
  background-color: #FFFF71;
}

.blue{
  background-color: #B3B9FF;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.piubella-connected{
  display: none;
}

.address-query-container{
  position: relative;
}

.address-query-container img{
  position: absolute;
  right: 5px;
  top: 7px;
}

.alert{
  font-size: 20px;
}

.alert-icons button{
  height: 50px;
  width: 50px;
  padding: 0px;
  float: right;
  margin-right: 5px;
  margin-left: 5px;
}

.accordion-section-bleu{
  background-color: #B3B9FF;
}

.accordion-section-jaune{
  background-color: #FFFF71;
}

.accordion-inner{
  padding: 0px;
  text-align: center;
}

.alert-btn{
  margin: 20px;
}

.btn-group-vertical {
  text-align: right;
  margin-left: 20px;
}