<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Fetch</servlet-name>
        <servlet-class>fr.univnantes.atal.web.trashnao.servlets.Fetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchJson</servlet-name>
        <servlet-class>fr.univnantes.atal.web.trashnao.servlets.FetchJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>fr.univnantes.atal.web.trashnao.webservices.UserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChecker</servlet-name>
        <servlet-class>fr.univnantes.atal.web.trashnao.servlets.UpdateChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fetch</servlet-name>
        <url-pattern>/admin/fetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchJson</servlet-name>
        <url-pattern>/fetchjson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChecker</servlet-name>
        <url-pattern>/cron/update-checker</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
