<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Fetch</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.Fetch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchJson</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.FetchJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.webservices.UserService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.webservices.NotificationService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChecker</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.UpdateChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestNotifs</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.TestNotifs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestBlobOut</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.TestBlobOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestBlobIn</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.TestBlobIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RescueJSONInfo</servlet-name>
        <servlet-class>fr.univnantes.atal.web.piubella.servlets.RescueJSONInfo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Fetch</servlet-name>
        <url-pattern>/admin/fetch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchJson</servlet-name>
        <url-pattern>/fetchjson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChecker</servlet-name>
        <url-pattern>/cron/update-checker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestNotifs</servlet-name>
        <url-pattern>/TestNotifs</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <servlet-mapping>
        <servlet-name>TestBlobOut</servlet-name>
        <url-pattern>/TestBlobOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestBlobIn</servlet-name>
        <url-pattern>/TestBlobIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RescueJSONInfo</servlet-name>
        <url-pattern>/RescueJSONInfo</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
